.AdminNav {
  padding: 0.5rem 0;
  box-shadow: 0 0 2px rgba(50, 50, 50, 0.3);
  position: sticky;
  top: 0;
  z-index: 8;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.95);
}

.AdminNav .Padder {
  display: flex;
  padding: 0 1rem;
}

.AdminNav .ScrollBox {
  display: flex;
  width: 100%;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.AdminNav .ScrollBox::-webkit-scrollbar {
  display: none;
}

.AdminNav .IconTextBox {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  transition: all 200ms linear;
}

.AdminNav .IconTextBox:not(:last-child) {
  margin-right: 2rem;
}

.AdminNav .IconTextBox:hover {
  color: var(--color-primary-three);
}

.AdminNav .IconTextBox.Active {
  color: var(--color-primary-one);
}

.AdminNav .IconBox {
  display: flex;
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 0.25rem;
}

.AdminNav a:focus {
  color: var(--color-primary-three);
}

.MsgContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem 0;
}

.LoaderBox,
.MsgBox,
.ErrorBox {
  color: var(--color-primary-one);
  display: flex;
  align-items: center;
}

.ErrorBox {
  color: var(--color-tertiary-one);
}

.ReloadButton {
  background-color: transparent;
  color: var(--color-secondary-one);
  border: none;
  display: flex;
  align-items: center;
  transition: all 200ms linear;
  padding: 0 0.5rem;
}
.ReloadButton .Icon {
  width: 1.75rem;
  height: 1.75rem;
  margin-left: 0.5rem;
}
.ReloadButton:hover {
  color: var(--color-secondary-two);
}

.EditorMenu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

.EditorMenu .Padder {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 0.75rem;
}

.EditorMenu .Padder button:not(:last-child) {
  margin-right: 0.75rem;
}

.EditorApp {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.75rem;
}

.EditorApp .EditorForm .Heading {
  font-size: 0.95rem;
  width: 100%;
  padding-bottom: 0.25rem;
  color: var(--color-primary-one);
  border-bottom: 1px solid var(--color-grey-three);
  text-align: center;
  margin-bottom: 0.5rem;
}

.QuestionsList {
  cursor: pointer;
  color: var(--color-black-three);
  font-size: 0.925rem;
}

.QuestionsList.Filled {
  box-shadow: 0 0 3px rgba(0, 194, 97, 0.5) !important;
}

.QuestionForm {
  max-height: 90vh;
  background-color: var(--color-white-one);
  border-radius: 0.25rem;
  box-shadow: var(--shadow-one);
  padding: 1rem;
  cursor: default;
  position: relative;
}

.QuestionForm > * {
  width: 100%;
  padding: 0.25rem 0;
}

.QuestionForm .OptionContainer {
  transition: all 200ms linear;
}
.QuestionForm .OptionContainer:hover {
  color: var(--color-primary-one);
}

.QuestionForm .OptionBox {
  display: flex;
  padding: 0.25rem 0;
  align-items: center;
  color: var(--color-black-two);
  width: 100%;
  transition: all 200ms linear;
}
.QuestionForm .OptionBox.Color {
  color: var(--color-primary-one);
}

.QuestionForm .OptionName {
  margin-right: 0.5rem;
  font-size: 1rem;
  color: inherit;
}

.QuestionForm .ButtonBox {
  display: flex;
  justify-content: flex-end;
}
.QuestionForm .ButtonBox button {
  margin-left: 0.75rem;
}

@media screen and (min-width: 480px) {
  .EditorMenu .Padder {
    width: fit-content;
    justify-content: flex-start;
  }
  .EditorMenu .Padder:not(:last-child) {
    margin-right: 0.75rem;
  }
}

@media screen and (min-width: 768px) {
  .EditorApp {
    grid-template-columns: 1fr 1fr;
  }
}
