.LeaderBoard {
  border-radius: 0.25rem;
  display: grid;
  grid-template-columns: auto;
  gap: 0.75rem;
}

.LeaderBoard .Title {
  color: var(--color-primary-one);
  font-size: inherit;
  text-align: center;
  font-size: 1rem;
}

.ProfileBox {
  display: flex;
}

.ProfileBox .DP {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: var(--color-primary-transparent-one);
  border: 1px solid var(--color-primary-transparent-two);
  padding: 0.25rem;
  margin-right: 0.5rem;
}

.ProfileInfoBox {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.ProfileInfoBox .DataBox {
  margin-bottom: 0.5rem;
}
.DataBox .Data {
  display: inline-flex;
  line-height: 1.2rem;
  padding: 0.25rem 1rem;
  border-radius: 0.25rem;
  color: var(--color-primary-two);
  background-color: var(--color-primary-transparent-one);
  border: 1px solid var(--color-primary-transparent-two);
}

.DataBox .Data.Green {
  color: var(--color-secondary-two);
  background-color: var(--color-secondary-transparent-one);
  border: 1px solid var(--color-secondary-transparent-two);
}

.FallBack .Blink {
  display: flex;
  min-height: 1.5rem;
  width: 100%;
  animation-name: fallback_blink_blue;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  border-radius: 0.25rem;
  margin-bottom: 0.5rem;
  display: inline-flex;
  max-width: 15rem;
}
.FallBack .Blink.Green {
  animation-name: fallback_blink_green;
}
.FallBack .Container {
  display: flex;
  font-size: 0.9rem;
}
.FallBack .Container * {
  line-height: 1rem;
}
.FallBack .Container > div {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.FallBack .Container .DP {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  margin-right: 0.5rem;
}

@keyframes fallback_blink_green {
  0%,
  100% {
    background-color: rgba(0, 194, 97, 0.02);
    border: 1px solid rgba(0, 194, 97, 0.1);
  }
  50% {
    background-color: rgba(0, 194, 97, 0.06);
    border: 1px solid rgba(0, 194, 97, 0.3);
  }
}
@keyframes fallback_blink_blue {
  0%,
  100% {
    background-color: rgba(81, 149, 251, 0.02);
    border: 1px solid rgba(81, 149, 251, 0.1);
  }
  50% {
    background-color: rgba(81, 149, 251, 0.06);
    border: 1px solid rgba(81, 149, 251, 0.3);
  }
}
