.Intro > div {
  padding-bottom: 0.5rem;
  color: var(--color-black-two);
  font-size: 0.9rem;
}

@media screen and (min-width: 480px) {
  .Intro > div {
    font-size: 0.95rem;
  }
}

@media screen and (min-width: 600px) {
  .Intro > div {
    font-size: 1rem;
  }
}
