.QuizTitle {
  color: var(--color-primary-one);
  text-align: center;
  padding-bottom: 0.25rem;
  border-bottom: 1px solid var(--color-grey-three);
  margin-bottom: 0.5rem;
  font-size: 1rem;
  text-transform: uppercase;
}

.QuizIntroText {
  color: var(--color-black-three);
  padding: 0.5rem 0;
  padding-bottom: 0.25rem;
  border-bottom: 1px solid var(--color-grey-three);
  margin-bottom: 0.5rem;
}

.QuizIntroText .TimeBox {
  color: var(--color-primary-two);
  padding-top: 0.25rem;
}

.StartBtn,
.SubmitBtn {
  padding: 0.25rem 2rem !important;
  font-size: 1rem;
}

.ErrorBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--color-tertiary-one);
  padding-bottom: 0.5rem;
}
.ErrorBox .Padder {
  display: flex;
  align-items: center;
}
.ErrorBox .Icon {
  display: flex;
  width: 1.75rem;
  height: 1.75rem;
  justify-content: center;
  align-items: center;
  border: 2px solid currentColor;
  border-radius: 50%;
  font-size: 1.2rem;
  flex-shrink: 0;
  margin-right: 0.5rem;
}
.ErrorBox .Link {
  color: var(--color-primary-two);
  border-bottom: 1px dashed transparent;
}
.ErrorBox .Link:hover,
.ErrorBox .Link:focus {
  outline: none;
  border-color: currentColor;
  transition: all 200ms linear;
}

.QuizBoard * {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.Question {
  display: flex;
  margin-bottom: 2rem;
}
.Question .Index {
  width: 1.75rem;
  height: 1.75rem;
  box-shadow: var(--shadow-one);
  color: var(--color-tertiary-one);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
  margin-right: 1rem;
  flex-grow: 0;
  flex-shrink: 0;
}
.Question .Text {
  width: 100%;
  display: flex;
  align-items: center;
}

.Option {
  display: flex;
  box-shadow: var(--shadow-one);
  border-radius: 0.25rem;
  width: 100%;
  cursor: pointer;
  margin-bottom: 0.5rem;
  padding: 0.25rem 0.5rem;
  border: none;
  background-color: transparent;
  transition: all 200ms linear;
}
.Option:hover {
  color: var(--color-primary-three);
  box-shadow: var(--shadow-two);
}
.Option.Colored {
  color: var(--color-secondary-one);
  box-shadow: var(--shadow-three);
}
.Option.Colored:hover {
  color: var(--color-secondary-two);
}
.Option .Index {
  color: var(--color-primary-one);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1.5rem 0 0.5rem;
  flex-grow: 0;
  flex-shrink: 0;
}
.Option.Colored .Index {
  color: var(--color-secondary-one);
}
.Option .Text {
  display: flex;
  color: inherit;
}

.NavigationBox {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
}
.NavigationBox > * {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.NavigationBox .Index {
  width: 1.75rem;
  height: 1.75rem;
  box-shadow: var(--shadow-one);
  color: var(--color-tertiary-one);
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
  margin-right: 0.75rem;
  margin-bottom: 0.75rem;
  flex-grow: 0;
  flex-shrink: 0;
  cursor: pointer;
  border: none;
  transition: all 200ms linear;
}
.NavigationBox .Index.Answered {
  color: var(--color-secondary-one);
}
.NavigationBox .Index.Pending {
  animation-name: color_blink;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.NextBtnBox {
  margin-bottom: 0.75rem;
}

.SubmitBtnBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.75rem;
  justify-content: center;
}

.SubmitBtnBox .Info {
  color: var(--color-primary-one);
  margin-bottom: 0.25rem;
}
.SubmitBtnBox .Error {
  color: var(--color-tertiary-one);
  margin-bottom: 0.25rem;
}
.SubmitBtnBox .Link {
  color: var(--color-primary-one);
  border-bottom: 1px dashed transparent;
  cursor: pointer;
  transition: all 200ms linear;
}
.SubmitBtnBox .Link:hover {
  border-color: currentColor;
}

.ResultLeaderBoardBox {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.75rem;
}

.ResultContainer {
  border-radius: 0.25rem;
  box-shadow: var(--shadow-one);
  padding-top: 0.5rem;
  padding: 0.75rem;
  display: grid;
  grid-template-columns: auto;
  gap: 0.5rem;
}

.ResultContainer .ScoreBox {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-primary-one);
}

.ResultContainer .ScoreBox.High {
  color: var(--color-secondary-one);
}

.ResultContainer .ScoreBox.Low {
  color: var(--color-tertiary-one);
}

.ResultBox.A {
  color: var(--color-secondary-two);
}
.ResultBox.C {
  color: var(--color-tertiary-one);
}

.ResultBox {
  display: flex;
  padding: 0.5rem;
  border-radius: 0.25rem;
  color: var(--color-black-three);
  box-shadow: 0 0 2px currentColor;
}

.ResultBox .Index {
  width: 1.75rem;
  height: 1.75rem;
  color: currentColor;
  box-shadow: 0 0 3px currentColor;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: center;
  margin-right: 0.75rem;
}
.ResultBox .Child {
  width: 100%;
}
.ResultBox .QuestionText {
  color: var(--color-black-three);
}
.ResultBox .Answer {
  font-size: 0.9rem;
  display: flex;
}

.ResultContainer.FallBack span:not(.Side) {
  display: flex;
  height: 1.35rem;
  width: 100%;
  animation-name: fallback_blink;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  border-radius: 0.25rem;
}
.ResultContainer.FallBack span:not(:last-child) {
  margin-bottom: 0.5rem;
}
.ResultContainer.FallBack .ScoreBox span {
  display: inline-flex;
  width: 3rem;
  margin-left: 0.5rem;
}
.ResultContainer.FallBack span.Side {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.ResultContainer.FallBack span.Side span {
  max-width: 10rem;
}

@keyframes color_blink {
  0%,
  100% {
    color: rgb(0, 194, 97);
    background-color: rgba(16, 212, 114, 0.02);
  }

  50% {
    color: rgb(255, 120, 0);
    background-color: rgba(255, 150, 50, 0.03);
  }
}

@keyframes fallback_blink {
  0%,
  100% {
    background-color: rgb(245, 245, 245);
  }
  50% {
    background-color: rgb(230, 230, 230);
  }
}

@media screen and (min-width: 768px) {
  .ResultLeaderBoardBox {
    grid-template-columns: 1fr 1fr;
  }
}
