.LoadButton {
  width: 100%;
  padding: 0.375rem 1rem;
  line-height: 1.5rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  background-color: var(--color-primary-two);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--color-white-one);
  cursor: not-allowed;
}

.BtnPrimary,
.BtnTertiaryX,
.BtnSecondaryX {
  border: none;
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
  transition: all 200ms linear;
  display: inline-flex;
  align-items: center;
}

.BtnPrimary {
  background-color: var(--color-primary-one);
  color: var(--color-white-one);
}
.BtnPrimary:hover {
  background-color: var(--color-primary-two);
}

.BtnSecondaryX {
  background-color: transparent;
  color: var(--color-secondary-one);
  box-shadow: 0 0 3px rgba(50, 50, 50, 0.2);
}
.BtnSecondaryX:hover {
  box-shadow: 0 0 3px rgba(0, 194, 97, 0.5);
}

.BtnTertiaryX {
  background-color: transparent;
  color: var(--color-tertiary-one);
  box-shadow: 0 0 3px rgba(50, 50, 50, 0.2);
}
.BtnTertiaryX:hover {
  box-shadow: 0 0 3px rgba(255, 120, 0, 0.5);
}

.BtnIcon {
  display: flex;
}
.BtnIcon .Icon {
  display: flex;
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 0.5rem;
}

.BtnPrimary.BtnIcon {
  padding-left: 0.625rem;
}

.BtnPrimary.BtnLoading {
  background-color: var(--color-primary-two);
  cursor: progress;
}
