.LoadButton {
  width: 100%;
  padding: 0.375rem 1rem;
  line-height: 1.5rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  background-color: var(--color-primary-two);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--color-white-one);
  cursor: not-allowed;
}
