.LoadButton {
  width: 100%;
  padding: 0.375rem 1rem;
  line-height: 1.5rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  background-color: var(--color-primary-two);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--color-white-one);
  cursor: not-allowed;
}

.BtnPrimary,
.BtnPrimaryX,
.BtnTertiaryX,
.BtnSecondaryX {
  border: none;
  border-radius: 0.25rem;
  padding: 0.25rem 0.75rem;
  transition: all 200ms linear;
  display: inline-flex;
  align-items: center;
}

.BtnIcon.BtnPrimary,
.BtnIcon.BtnPrimaryX,
.BtnIcon.BtnTertiaryX,
.BtnIcon.BtnSecondaryX {
  padding: 0.375rem 0.75rem;
}

.BtnPrimary {
  background-color: var(--color-primary-one);
  color: var(--color-white-one);
}
.BtnPrimary:hover,
.BtnPrimary:focus {
  outline: inherit;
  border: inherit;
  background-color: var(--color-primary-two);
}

.BtnPrimaryX {
  background-color: transparent;
  color: var(--color-primary-one);
  box-shadow: 0 0 3px rgba(50, 50, 50, 0.2);
}
.BtnPrimaryX:hover,
.BtnPrimaryX:focus {
  outline: inherit;
  border: inherit;
  box-shadow: 0 0 3px rgba(81, 149, 251, 0.6);
}

.BtnSecondaryX {
  background-color: transparent;
  color: var(--color-secondary-one);
  box-shadow: 0 0 3px rgba(50, 50, 50, 0.2);
}
.BtnSecondaryX:hover,
.BtnSecondaryX:focus {
  outline: inherit;
  border: inherit;
  box-shadow: 0 0 3px rgba(0, 194, 97, 0.6);
}

.BtnTertiaryX {
  background-color: transparent;
  color: var(--color-tertiary-one);
  box-shadow: 0 0 3px rgba(50, 50, 50, 0.2);
}
.BtnTertiaryX:hover,
.BtnTertiaryX:focus {
  outline: inherit;
  border: inherit;
  box-shadow: 0 0 3px rgba(255, 120, 0, 0.6);
}

.BtnIcon {
  display: flex;
}
.BtnIcon .Icon {
  display: flex;
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 0.5rem;
}

.BtnLoading {
  cursor: progress;
}

.BtnPrimary.BtnLoading {
  background-color: var(--color-primary-two);
}
