.Cstm {
  color: var(--color-black-three);
  width: 100%;
  display: flex;
  flex-direction: column;
}
.Cstm:not(:last-child) {
  padding-bottom: 0.5rem;
}

.Cstm:not(.Cstm.Disabled):hover,
.Cstm:not(.Cstm.Disabled):focus,
.Cstm:not(.Cstm.Disabled).Color,
.Cstm:not(.Cstm.Disabled):hover label,
.Cstm:not(.Cstm.Disabled):focus label,
.Cstm:not(.Cstm.Disabled).Color label {
  color: var(--color-primary-one);
}

.Cstm.Disabled {
  color: var(--color-grey-one) !important;
}
.Cstm.Cstm.Disabled label {
  color: currentColor !important;
}

.Cstm:not(.Cstm.Disabled):hover .InputBox input,
.Cstm:not(.Cstm.Disabled):focus .InputBox input,
.Cstm:not(.Cstm.Disabled).Color .InputBox input,
.Cstm:not(.Cstm.Disabled):hover .InputBox textarea,
.Cstm:not(.Cstm.Disabled):focus .InputBox textarea,
.Cstm:not(.Cstm.Disabled).Color .InputBox textarea {
  color: var(--color-primary-one);
  border: 1px solid var(--color-primary-one);
}

.Cstm,
.Cstm * {
  transition: all 200ms linear;
}

.Cstm .InputBox {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
}

.Cstm .InputBox input,
.Cstm .InputBox textarea {
  padding: 0.375rem 0.5rem;
  color: var(--color-black-three);
  border: 1px solid var(--color-grey-two);
  border-radius: 0.5rem;
  width: 100%;
  display: block;
  font-size: 0.9rem;
  font-family: inherit;
  resize: none;
}

.Cstm .InputBox input:focus,
.Cstm .InputBox textarea:focus {
  box-shadow: var(--shadow-two);
}
.Cstm .InputBox input::placeholder,
.Cstm .InputBox textarea::placeholder {
  color: var(--color-grey-one);
  transition: all 200ms linear;
}
.Cstm .InputBox input:focus::placeholder,
.Cstm .InputBox textarea:focus::placeholder {
  color: var(--color-primary-two);
}
.Cstm .InputBox input:disabled,
.Cstm .InputBox textarea:disabled {
  background-color: rgb(245, 245, 245);
  cursor: not-allowed;
}

.Cstm .InputBox .IconBox {
  position: absolute;
  display: flex;
  height: 2rem;
  width: 2rem;
  padding: 0.25rem;
  right: 0.25rem;
  border-radius: 50%;
  background-color: transparent;
  border: none;
  color: var(--color-grey-one);
}
.Cstm .InputBox .IconBox:hover,
.Cstm .InputBox .IconBox:focus {
  color: var(--color-primary-one);
  background-color: var(--color-primary-transparent);
}

.Cstm.Submit {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0.375rem 1rem;
  line-height: 1.5rem;
  background-color: var(--color-primary-one);
  border: none;
  color: var(--color-white-one);
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 0.5rem;
  font-size: 1rem;
}

.Cstm.Submit:hover,
.Cstm.Submit:focus {
  outline: none;
  color: var(--color-white-one);
  background-color: var(--color-primary-two);
  box-shadow: var(--shadow-two);
}

.Cstm.Submit:disabled {
  background-color: var(--color-primary-two);
}

.MultipleSelectr {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.MultipleSelectr .SelectBox {
  padding: 0.25rem 0 0;
  position: relative;
}

.MultipleSelectr .ChosenBox {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.MultipleSelectr .Chosen {
  display: inline-flex;
  padding: 0.25rem 0.5rem;
  background-color: var(--color-primary-transparent);
  color: var(--color-primary-one);
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 0.25rem;
  font-size: 0.9rem;
}

.MultipleSelectr .AddButton {
  display: inline-flex;
  flex-grow: 0;
  flex-shrink: 0;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: transparent;
  color: var(--color-primary-one);
  border: none;
  padding: 0.25rem;
}

.MultipleSelectr .AddButton:hover {
  background-color: var(--color-primary-transparent);
}

.MultipleSelectr .RemoveButton {
  display: flex;
  height: 1.5rem;
  width: 1.5rem;
  flex-grow: 0;
  flex-shrink: 0;
  margin-left: 0.5rem;
  background-color: transparent;
  color: var(--color-primary-three);
  border: none;
  border-radius: 0.25rem;
}

.MultipleSelectr .RemoveButton:hover {
  color: var(--color-primary-one);
  background-color: var(--color-primary-transparent);
}

.MultipleSelectr .OptionBox {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  width: 100%;
  padding: 0.75rem 0.75rem 0.25rem;
  box-shadow: -2px 2px 3px var(--color-primary-transparent),
    2px 2px 3px var(--color-primary-transparent);
  background-color: var(--color-white-one);
  transition: all 300ms linear;
  max-height: 200px;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  z-index: 5;
}
.MultipleSelectr .OptionBox::-webkit-scrollbar {
  display: none;
}

.MultipleSelectr .OptionBox.Active {
  visibility: visible;
  opacity: 1;
}

.MultipleSelectr .MultipleOption {
  display: inline-flex;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  border: none;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
  font-size: 0.9rem;
  background-color: var(--color-grey-three);
  color: var(--color-black-three);
}

.MultipleSelectr .MultipleOption:hover,
.MultipleSelectr .MultipleOption.Selected:hover {
  color: var(--color-primary-three);
}

.MultipleSelectr .MultipleOption.Selected {
  color: var(--color-primary-one);
  background-color: var(--color-primary-transparent);
}

.LinearSelectr .Option {
  display: inline-flex;
  padding: 0.25rem 0.5rem;
  border: none;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 0.25rem;
  background-color: var(--color-grey-three);
  color: var(--color-black-three);
  font-size: 0.9rem;
}

.LinearSelectr .Option.Selected {
  background-color: var(--color-primary-transparent);
  color: var(--color-primary-one);
}

.LinearSelectr .Option:hover,
.LinearSelectr .Option.Selected:hover {
  color: var(--color-primary-three);
}
