.Header {
  height: 3.5rem;
  width: 100%;
  box-shadow: var(--shadow-bottom-one);
  position: sticky;
  top: 0;
  z-index: 8;
  background-color: rgba(255, 255, 255, 0.95);
}

.Header .Padder {
  height: 100%;
  padding: 0.5rem 0;
  display: flex;
  justify-content: space-between;
}

.Header .Padder > * {
  display: flex;
}

.IconTextContainer {
  padding: 0.5rem 1rem;
  display: flex;
  height: 100%;
  color: var(--color-black-two);
  transition: all 200ms linear;
}

.IconTextContainer:hover {
  color: var(--color-primary-one);
}

.IconText {
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 0.25rem;
}

.LogoContainer {
  padding: 0.25rem 1rem;
  color: var(--color-primary-one);
}
.LogoContainer:hover {
  color: var(--color-primary-two);
}

.LogoText {
  font-size: 1.25rem;
}
.LogoText::selection {
  background-color: transparent;
}

.MenuContainer {
  padding: 0 1rem;
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
}

.MenuBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  border: none;
  border-radius: 0.25rem;
  box-shadow: var(--shadow-one);
  padding: 0.25rem;
  position: relative;
  transition: box-shadow 200ms linear;
}

.MenuBar span {
  height: 2px;
  width: 70%;
  display: flex;
  position: absolute;
  background-color: var(--color-black-three);
  transition: all 200ms linear;
}

.MenuBar span:first-child {
  transform: translateY(-3px);
}

.MenuBar span:last-child {
  transform: translateY(3px);
}

.MenuContainer.Active .ProfilePictureBox {
  box-shadow: 0 0 3px rgba(81, 149, 251, 0.5);
  background-color: var(--color-primary-transparent);
}

.MenuContainer.Active .MenuBar {
  box-shadow: var(--shadow-two);
}

.MenuContainer.Active .MenuBar span {
  background-color: var(--color-primary-one);
}

.MenuContainer.Active .Menu {
  visibility: visible;
  opacity: 1;
}

.Menu {
  position: absolute;
  right: 1rem;
  top: 3.5rem;
  box-shadow: var(--shadow-one);
  border-radius: 0.25rem;
  max-width: 360px;
  width: calc(100vw - 2rem);
  visibility: hidden;
  opacity: 0;
  z-index: 10;
  background-color: var(--color-white-one);
  transition: all 500ms linear;
  padding: 1rem;
  overflow: auto;
  max-height: calc(100vh - 5rem);
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.Menu::-webkit-scrollbar {
  display: none;
}

.Menu .IconTextContainer {
  height: 3rem;
  padding: 0.625rem;
  box-shadow: var(--shadow-one);
  border-radius: 0.25rem;
}

.Menu .IconTextContainer:not(:last-child) {
  margin-bottom: 1rem;
}

.Menu .IconText {
  margin-left: 1rem;
}

.Menu .IconTextContainer:hover {
  box-shadow: var(--shadow-two);
}

.ProfilePictureBox {
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.125rem;
  border-radius: 50%;
  box-shadow: 0 0 3px rgba(255, 255, 255, 0);
  transition: all 300ms linear;
}

.ProfilePictureBox:hover {
  box-shadow: 0 0 3px rgba(81, 149, 251, 0.5);
  background-color: var(--color-primary-transparent);
}

.ProfilePicture {
  background-color: var(--color-primary-transparent);
  border-radius: 50%;
}

.AdminHeader .Padder {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.AdminHeader .LogoContainer {
  display: flex;
  padding: 0.5rem 1rem;
  align-items: center;
  transition: all 200ms linear;
}
.AdminHeader .LogoContainer .LogoIconBox {
  display: flex;
  height: 1.75rem;
  width: 1.75rem;
  margin-right: 0.25rem;
}
.AdminHeader .LogoContainer .LogoText {
  font-size: 1.1rem;
}

.QuizTakeHeader {
  box-shadow: 0 1px 2px rgba(50, 50, 50, 0.08);
}
.QuizTakeHeader .Timer {
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
}
