.ListContainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.75rem;
}

.ListContainer .List {
  display: flex;
  padding: 0.75rem;
  box-shadow: var(--shadow-one);
  border-radius: 0.25rem;
  width: 100%;
}
.List .Index {
  width: 1.75rem;
  height: 1.75rem;
  color: var(--color-tertiary-one);
  box-shadow: inherit;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: center;
  margin-right: 0.75rem;
}
.List .Child {
  word-break: break-all;
  width: 100%;
}

.ListContainer.Large {
  grid-template-columns: 1fr 1fr;
}
