.TripleSquareLoader {
  display: flex;
  margin-left: 0.25rem;
}

.TripleSquareLoader span {
  display: flex;
  width: 0.5rem;
  height: 0.75rem;
  margin-left: 0.25rem;
  background-color: var(--color-white-one);
}

.TripleSquareLoader span:first-child {
  animation-name: triplesquare-square-one;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}
.TripleSquareLoader span:nth-child(2) {
  animation-name: triplesquare-square-two;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}
.TripleSquareLoader span:last-child {
  animation-name: triplesquare-square-three;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}

@keyframes triplesquare-square-one {
  0% {
    background-color: rgba(253, 253, 255, 0);
  }

  20%,
  50% {
    background-color: rgba(253, 253, 255, 0.9);
  }

  80%,
  100% {
    background-color: rgba(253, 253, 255, 0);
  }
}

@keyframes triplesquare-square-two {
  0%,
  10% {
    background-color: rgba(253, 253, 255, 0);
  }

  30%,
  60% {
    background-color: rgba(253, 253, 255, 0.9);
  }

  85%,
  100% {
    background-color: rgba(253, 253, 255, 0);
  }
}

@keyframes triplesquare-square-three {
  0%,
  20% {
    background-color: rgba(253, 253, 255, 0);
  }

  40%,
  70% {
    background-color: rgba(253, 253, 255, 0.9);
  }

  90%,
  100% {
    background-color: rgba(253, 253, 255, 0);
  }
}

.TripleSquareLoader.Colored span {
  background-color: var(--color-primary-three);
}

.TripleSquareLoader.Colored span:first-child {
  animation-name: colored-triplesquare-square-one;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}
.TripleSquareLoader.Colored span:nth-child(2) {
  animation-name: colored-triplesquare-square-two;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}
.TripleSquareLoader.Colored span:last-child {
  animation-name: colored-triplesquare-square-three;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}

@keyframes colored-triplesquare-square-one {
  0% {
    background-color: rgba(132, 186, 255, 0);
  }

  20%,
  50% {
    background-color: rgba(132, 186, 255, 0.9);
  }

  80%,
  100% {
    background-color: rgba(132, 186, 255, 0);
  }
}

@keyframes colored-triplesquare-square-two {
  0%,
  10% {
    background-color: rgba(132, 186, 255, 0);
  }

  30%,
  60% {
    background-color: rgba(132, 186, 255, 0.9);
  }

  85%,
  100% {
    background-color: rgba(132, 186, 255, 0);
  }
}

@keyframes colored-triplesquare-square-three {
  0%,
  20% {
    background-color: rgba(132, 186, 255, 0);
  }

  40%,
  70% {
    background-color: rgba(132, 186, 255, 0.9);
  }

  90%,
  100% {
    background-color: rgba(132, 186, 255, 0);
  }
}

.TripleSquareLoader.TColored span {
  background-color: var(--color-tertiary-two);
}

.TripleSquareLoader.TColored span:first-child {
  animation-name: tcolored-triplesquare-square-one;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}
.TripleSquareLoader.TColored span:nth-child(2) {
  animation-name: tcolored-triplesquare-square-two;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}
.TripleSquareLoader.TColored span:last-child {
  animation-name: tcolored-triplesquare-square-three;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}

@keyframes tcolored-triplesquare-square-one {
  0% {
    background-color: rgba(255, 120, 0, 0);
  }

  20%,
  50% {
    background-color: rgba(255, 120, 0, 0.7);
  }

  80%,
  100% {
    background-color: rgba(255, 120, 0, 0);
  }
}

@keyframes tcolored-triplesquare-square-two {
  0%,
  10% {
    background-color: rgba(255, 120, 0, 0);
  }

  30%,
  60% {
    background-color: rgba(255, 120, 0, 0.7);
  }

  85%,
  100% {
    background-color: rgba(255, 120, 0, 0);
  }
}

@keyframes tcolored-triplesquare-square-three {
  0%,
  20% {
    background-color: rgba(255, 120, 0, 0);
  }

  40%,
  70% {
    background-color: rgba(255, 120, 0, 0.7);
  }

  90%,
  100% {
    background-color: rgba(255, 120, 0, 0);
  }
}

.TripleSquareLoader.SColored span {
  background-color: var(--color-secondary-two);
}

.TripleSquareLoader.SColored span:first-child {
  animation-name: scolored-triplesquare-square-one;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}
.TripleSquareLoader.SColored span:nth-child(2) {
  animation-name: scolored-triplesquare-square-two;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}
.TripleSquareLoader.SColored span:last-child {
  animation-name: scolored-triplesquare-square-three;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}

@keyframes scolored-triplesquare-square-one {
  0% {
    background-color: rgba(0, 194, 97, 0);
  }

  20%,
  50% {
    background-color: rgba(0, 194, 97, 0.7);
  }

  80%,
  100% {
    background-color: rgba(0, 194, 97, 0);
  }
}

@keyframes scolored-triplesquare-square-two {
  0%,
  10% {
    background-color: rgba(0, 194, 97, 0);
  }

  30%,
  60% {
    background-color: rgba(0, 194, 97, 0.7);
  }

  85%,
  100% {
    background-color: rgba(0, 194, 97, 0);
  }
}

@keyframes scolored-triplesquare-square-three {
  0%,
  20% {
    background-color: rgba(0, 194, 97, 0);
  }

  40%,
  70% {
    background-color: rgba(0, 194, 97, 0.7);
  }

  90%,
  100% {
    background-color: rgba(0, 194, 97, 0);
  }
}
